# Checks once in a minute and does not notify by email:
- name:   Yandex
  web:    https://ya.ru
# Checks once in 10 seconds:
- web:    http://192.168.6.1
  repeat: 10
  notify: me@localhost
# Pings once in 2 seconds:
- shell:  ping -t 1 192.168.6.1
  repeat: 2
  notify:
    - me@localhost
    - sales@server
