a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
th {
  padding: 0.3em 0 0.6em 1em;
  color: gray;
}
td {
  padding: 0.2em 0 0.2em 1em;
}
.ok {
  color: green;
}
.fail {
  color: red;
}
