# Example jsonmon configuration. Public domain
# Docs: https://github.com/chillum/jsonmon/wiki/Configuration

# Checks once in a minute and does not notify by email:
- name:   Yandex
  web:    https://ya.ru
  match:  Найти # Regexp to match in response.
  tries:  3     # Optional attempts number.
  sleep:  5     # Seconds between tries.

# Checks once in 10 seconds:
- web:    http://192.168.6.1
  repeat: 10   # Seconds between checks.
  return: 401  # Should return HTTP 401.
  alert:  ./slack
  notify: me@localhost

# Pings once in 2 seconds:
- shell:  ping -c 1 192.168.6.1
  repeat: 2
  notify:
    - me
    - sales@server

# This check fails if ping succeeds:
- shell:  ping -c 1 192.168.7.1; [ $? = 1 -o $? = 2 ]
  alert:
    - ./slack
    - /usr/local/libexec/sms
