<?xml version="1.0" encoding="UTF-8"?>
<!-- jsonmon service for launchd -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>jsonmon</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/usr/local/etc/jsonmon</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/jsonmon</string>
    <string>--syslog</string>
    <string>config.yml</string>
  </array>
  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>10240</integer>
  </dict>
  <!-- HTTP host & port -->
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOST</key>
    <string>localhost</string><!-- Use [::] to listen on all interfaces -->
    <key>PORT</key>
    <string>3000</string>
  </dict>
</dict>
</plist>
