[Unit]

[Service]
WorkingDirectory = /etc/jsonmon
User             = jsonmon
ExecStart        = /usr/local/bin/jsonmon config.yml
Restart          = always

# The JSON API host & port:
#Environment=HOST=localhost
#Environment=PORT=3000

# Optional Referer header used in Web checks:
#Environment=URL=http://jsonmon.example.net

[Install]
WantedBy  = default.target
