<!-- jsonmon service for launchd -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>jsonmon</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>$HOME/Go/bin/jsonmon $HOME/.config/jsonmon.yml 2>&amp;1 |/usr/bin/logger -p user.notice -t jsonmon</string>
  </array>
</dict>
</plist>
