<?xml version="1.0" encoding="UTF-8"?>
<!-- jsonmon service for launchd -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>jsonmon</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>$HOME/Go/bin/jsonmon $HOME/.config/jsonmon.yml 2>&amp;1 |/usr/bin/logger -p user.notice -t jsonmon</string>
  </array>
  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>10240</integer>
  </dict>
  <!-- RESTful API's host & port -->
  <key>EnvironmentVariables</key>
  <dict>
    <!--key>HOST</key>
    <string>0.0.0.0</string-->
    <key>HOST</key>
    <string>localhost</string>
    <key>PORT</key>
    <string>3000</string>
  </dict>
</dict>
</plist>
