# jsonmon service for systemd

[Unit]
Description      = jsonmon monitoring and alerting system
After            = network.target

[Service]
User             = jsonmon
WorkingDirectory = /etc/jsonmon
ExecStart        = /usr/local/bin/jsonmon config.yml
Restart          = always
LimitNOFILE      = 10240

# HTTP host & port
Environment      = HOST=localhost # Use 0.0.0.0 to listen on all interfaces
                                  # IPv6 addresses are also supported
Environment      = PORT=3000

[Install]
WantedBy         = multi-user.target
