[Unit]

[Service]
WorkingDirectory = /etc/jsonmon
User             = jsonmon
ExecStart        = /usr/local/bin/jsonmon config.yml
Restart          = always

# The JSON API host & port:
#Environment=HOST=localhost
#Environment=PORT=3000

[Install]
WantedBy  = default.target
