<!DOCTYPE html>
<html ng-app="jsonmon">
  <head>
    <meta charset="utf-8">
    <title ng-bind="title"></title>
    <link rel="stylesheet" href="main.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="reload">
    <table>
      <tr>
        <th>Check</th>
        <th>Status</th>
      </tr>
      <tr ng-repeat="check in json">
        <td>
          <a ng-if="check.name !== undefined && check.web !== undefined" href="{{check.web}}" title="{{check.web}}">{{check.name}}</a>
          <a ng-if="check.name === undefined && check.web !== undefined" href="{{check.web}}" title="{{check.web}}">{{check.web}}</a>
          <div ng-if="check.name !== undefined && check.shell !== undefined" title="{{check.shell}}">{{check.name}}</div>
          <div ng-if="check.name === undefined && check.shell !== undefined" title="{{check.shell}}">{{check.shell}}</div>
        </td>
        <td>
          <div ng-switch on="check.failed">
            <div class="ok" ng-switch-when="false" title="{{check.since | date: 'medium'}}">ok</div>
            <div class="fail" ng-switch-when="true" title="{{check.since | date: 'medium'}}">fail</div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
